@import 'index.scss';
@import 'about.scss';
#main-header{
    // margin-top: 5rem;
    .main_nav{
        // background-color: white;
        color: black;
    }
}
#company-creative{
    background-image: url(../assents/img/team/19.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    #prevBtn{

        position: absolute;
        top: 50%;
        left: 5rem;
        font-size: 15px;
        color: #000;;
        opacity: 0.8;
        z-index: 5;
        cursor: pointer;
        border-radius: 50%;
        // background: transparent;
        padding: 1rem;
        border: 1px solid rgb(199, 198, 198);
        // background-color: #000;
    }
    #nextBtn{

        position: absolute;
        top: 50%;
        right: 6rem;
        font-size: 15px;
        color: rgb(17, 14, 14);
        opacity: 0.8;
        z-index: 5;
        cursor: pointer;
        border-radius: 50%;
        // background: transparent;
        padding: 1rem;
        border: 1px solid rgb(199, 198, 198);
    }


    .company_creative{
        &_teams{
            overflow: hidden;
            padding: 10rem 0;
            
            // width: 100%;
            &_list{
                min-width: calc((100%/3) - (2rem / 3));
                border: #fccb06 2px solid;
                position: relative;
                overflow: hidden;
                img{
                    width: 100%;
                }
                &:hover > .company_creative_teams_list_info {

                    margin-top: -28rem;
      

                }
                
                &_info{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 10rem 0 0 2rem;
                    padding-bottom: 5rem;
                    transition: margin-top 300ms ease-in-out;
                    position: absolute;
                    .name{
                
                  
                        width: 300px;
                        background-color:#fccb06;

                        h1{
                            color:white;
                            text-align:left ;
                            margin: 5rem 0 -0.5rem 2rem;
                            font-weight:500 ;
                            text-transform: capitalize;
                            font-size: 25px;
                            
                            
                        }
                        h2{
                            color: white;
                            margin-left: 2rem;
                            font-size: 15px;
                            
                        }
                        p{
                            text-align: left;
                            margin-left: 2rem;
                            color: white;
                        }
                        ul{
                            list-style-type: none;
                            display: flex;
                            li{
                                padding: 10px;
                                margin-bottom: 6rem;
                                a{
                                    color: #fff;
                                    &:hover{
                                        color: black;
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}