@import 'main.scss';
@import 'services.scss';
@import 'quotation.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap');


#about-security{
    // background-color: white;

.about_security{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 551px;
    border-bottom: 1px dotted gray;
    // background-color: red;
    &_image{
        margin-top: 20px;
        width: 720px;
        height: 375px;
        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
    &_title{
        width: 720px;
        height: 88px;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            font-size: 30px;
            font-weight: 700;
            line-height: 33px;
            color: #333333;
            margin-bottom: -1rem;
        }
        p{
            font-size: 21px;
            font-weight: 300;
            color: #555555;
            line-height: 29px;
        }
    }

}

}


#company-about{
    background-color: white;
    .company_about{
        // margin-top: 2rem;
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 20px;
        border-bottom: 1px dotted gray;
        background-color: white;
        &_mission{
            
            width: 480px;
            height: 820px;
        }
        &_offer{
         
            width: 100%;
            // height: 820px;
            margin-top: 2rem;
            background-color: white;
            margin-block-start: 20px;
      
            &_services,
            &_prices,
            &_support,
            &_warranty{
                margin-bottom: 2rem;
              
    
                &_lists{
                    display: flex;
                    flex-direction: row;
                    background-color: #f3f3f3;
                    padding: 10px;
                    &_log{
                        margin-left: 1.5rem;
                        p{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-top: 1rem;
                            width: 45px;
                            height: 45px;
                            border-radius: 50px;
                            border: 2px solid red;
                            i{
                                font-size: 16px;
                                color:#ff3333;
                            }
                            
                        }
                    }
                    &_title{
                        margin-left: 1rem;
                        h2{
                            margin-bottom: 1rem;
                            font-size: 18px;
                            font-weight: 400;
                            font-family: Poppins,Arial, sans-serif;
                            color: #362f2d;
                            
    
                        }
                    }
                }
    
            }
            &_prices,
            &_support,
            &_warranty{
                margin-top: 20px;
            }
    
    
    
        }
    
    }
    

}

#proffessional-team{
    background-color: white;
    margin-bottom: 3rem;
   
    .proffessional_team{    
        &_title{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h1{
                margin-bottom: -1rem;
                font-size: 30px;
                font-weight: 500;
                align-items: center;
            }
            p{
                font-size: 21px;
                font-weight: 300;
                text-align: center;
            }
    
        }
        &_profile{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 10px;
            position: relative;
            &_image{
                
                display: flex;
                align-items:center ;
                justify-content: center;
                position: relative;
                
                
                img{
                    width: 100%;
                    width:100%;
                    object-fit: cover;
                    cursor: pointer;
                }
                &:hover > div{
                    visibility: visible;

    
    
                }

              
                &_media{

                    align-items: center;
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    visibility: hidden;
                    color: white;     
                    background-color: #111111dd;               
                    &_items{
                        list-style-type: none;
                        display: flex;
                        li{
                            padding: 20px;
                            a{
                                i{
                                    text-decoration: none;
                                    color: white;
    
                                }
                            }
                           
                        }
                    }
                    // .overlay{
                    //     top: 0;
                    //     left: 0;
                    //     right: 0;
                    //     bottom: 0;
                    //     opacity: 0;
                    //     transition:opacity 0.4s ease-in-out;
                    //     background-color: #111111;
                    //     cursor: pointer;
                    //     position: absolute;
                    //     // z-index: 1;
                    // }
        
                }

            }
        }
    
    }

}


#client-say{
    width: 100%;
    height:50vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url(../assents/img/bg_parallax.jpg);
    
    .client_say {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        right: 0;
        background-color: #11111188;
        width: 100%;
        height: 100%;
        
        
 

        &_title{
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction: column;

            &_head{
                h1{
                    font-size: 48px;
                    font-weight: 300;
                    font-family: poppins, Arial, sans-serif;
                    margin-bottom: -2rem;
                    color: white;
                }
                p{
                    font-size: 24px;
                    font-weight: 300;
                    color: #ffffff;
                }

            }
      
            &_text{
                background-color: black;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &_profile{

                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    
                    &_image{
                        height: 80px;
                        width: 80px;
                        margin: 1rem 0 1rem 1rem;
                        img{
         
                            border-radius: 50px;
                            object-fit: fit;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    &_name{
                        color: white;
                        margin-left: 1rem;
                        h2{
                            font-size: 14px;
                            font-weight: 500;
                            margin-bottom: -1rem;
                            color: #ffffff;
                            text-align: left;
                        }
                        p{
                            font-size: 11px;
                            font-weight: 400;
                        }

                    }                
        
                }

                &_mess{
                    color: white;
                    margin: 0 2rem 0 2rem;
                    p{
                        font-size: 16px;
                        font-weight: 400;
                        font-style: italic;
                        color: #ffffff;
                        text-align: left;
                    }
                }

            }
        }

    }

   
}
