@import 'main.scss';

body{
    background-color: white;
}
#service-landing{
    background-color: gray;
    background-image: url(../assents/img/subheader_in_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .services_landing{
        height: 350px;
        display: flex;
        align-items: flex-end;
        
        &_title{
           width: 45%;
            h1{

                padding-top: 1rem;
                font-size: 42px;
                font-weight: 700;
                color: #ffffff;
            }
            p{
                margin-top: -2rem;
                font-size: 24px;
                font-weight: 300;
                color: #ffffff

            }
        }
    
    }
}

.condition_systems{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 25px;
    &_image{
        margin-top: 25px;
        img{
            object-fit: cover;
            width: 100%;
            height: 20%;
            border-bottom: 5px solid red;

        }

        &_title{
            h2{
                font-size: 22px;
                font-weight: 500;
                color: #333333;

            }
            p{
                font-size: 14px;
                font-weight: 400;
                color: #555555;
                line-height: 21px;
            }
        }
    }
    &_services{
         &_lists{
            // width: 100%;

            &_items{
                padding: 0;
                list-style-type:none;
                
                li{
                    display: flex;
                    justify-content: space-between;
                    background-color:white;
                    border: 4px solid #f7f7f7;
                    padding: 10px;
                    a{            
                        color: #0066ce;
                        font-size: 14px;
                        font-weight: 500;
                        text-decoration: none;
                    }

                }
                span{
                    align-items: right;
                    i{
                        color: #0066ce;
                    }
                }

            }
            h2{
                font-size: 14px;
                font-weight: 500;
                color: #333333;
            }
            p{
                font-size: 14px;
                font-weight: 400;
                color: #555555;

            }
            a{
                text-decoration: none;
                color: #0066ce;
            }
            a:hover{
                color: #111111;
            }
        }

        &_quotation{

            &_button{
                background-color:black;
                padding: 15px;
                margin-top:6rem;
                
                a{
                
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                    text-align: center;
                    margin-left: 2rem;
                    span{
                        margin-right: 1rem;
                    }
     
                }
   
            }

        }
    }
}

.system_installations{
    display: grid;
    grid-template-columns:3fr 1fr;
    grid-gap: 25px;
    
    &_services{
        border-bottom: 0.5px dotted rgba(245, 240, 240, 0.982) ;
        margin-bottom:1rem;

        display: grid;
        grid-template-columns:1fr 1fr;
        gap: 30px;
        
        &_left,
        &_right{

            
            &_image{  
                h2{
                    font-size: 22px;
                    font-weight: 500;
                    line-height: 24px;
                    color: #333333;
                  
                }
                p{
                    margin-bottom: 2rem;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;   
                    color: #555555;
                }          
                img{
                border-bottom: 5px solid red;
                width: 100%;
                height: 100%;
            }

           }
        }
    }
    &_security{
        margin-top: -2rem;
        border: 0.5px dotted gray;
        &_tips{
            h2{
                font-size: 18px;
                font-weight: 500;
                color: #333333;
                line-height: 20px;
                margin-left: 1.5rem;
                span{
                    margin-right: 1rem;
                }
            }
            &_lists{
                li{
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px;
                    padding: 10px; 
                }
            }
            p{
                a{
                    font-size: 14px;
                    font-weight: 500;
                    color: #0066ce;
                    margin-left: 2rem;
                    text-decoration: none;
                 
                }
                a:hover{
                    color: #111111;
                }
            }
        }
    }
}
.other_service{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;

    .other_services{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        
            &_left,
            &_right{
        
                &_response,
                &_help,
                &_diagnose,
                &_transport{
                 display: flex;
                 align-items: left;
                 justify-content: flex-start;
             
                 &_image{
                     width: 60px;
                     height: 60px;
                     margin-right: 1rem;
                     display: flex;
                     align-items: center;
                    //  background-color: red;
                     margin-top: 1.3rem;
                     img{
                         width: 100%;
                         height: 100%;
                     }
                     
                 }
                 &_title{
                     h2{
             
                         font-size: 18px;
                         font-weight: 500;
                         color: #333333;
                     }
                     p{
                         word-wrap: break-word;
                         text-align: left;
                         font-size: 14px;
                         font-weight: 400;
                         color: #555555;
             
                     }
                    
                 }
                }
            }

    }



}
           
table{
    width: 80%;
  
    // background-color: #0066ce;
    margin-bottom: 2rem;
}
td{
     border-top: 1px solid #dddddd;
}
td, th {
   
    text-align: left;
    padding: 8px;
}
caption{
    font-size: 22px;
    font-weight: 500;
    color: #333333;
    text-align: left;
}


    

