$primary-color:#5570f1;
$graphy-color:#ffcc91;
$icons-color: #97a5eb;
$icons-background-color:#fff7ed;
$icons-support-color:#efeff0;
$icons-gift-color:#fff5e9;
$text-color:#5c5d64;

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width:100%;

}
.main-body{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 10px;
    
}
// .sidebar:hover{
//     background-color: $primary-color;
//     width:10px;
//     overflow:hidden;
//     margin-left:-60px;

    

.body-content{
    background-color: $graphy-color;
}

.main-sidebar{
    padding-left: 10px;

    .log {
        padding: 30px;
        color: $icons-color;
        background-color: #5570f1;
        align-items: center;
        justify-content: center;

        &_image >img{
            color: $icons-color;

        }
    }
}
//Side bar
.main-sidebar-content {
    margin-top: 20px;
    // background: $primary-color;
    padding: 30px;

    .main_logo {

        background-color: $primary-color;
        width: 70%;
        border-radius: 10px;
    }

    .logo-icon{
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 10%;
        height: 0 auto;
        
        &_image{
            width: 50px;
            height: 50px;

        }
        &_image>img{

            align-self: auto;
            width: 50%;
            height: 100%;
            padding-left: 30px;
            color: $icons-color;

        }
        &_title>h2{
            color: white;
            font-size: 20px;
        }
    }

}
// Side bar content
.categories{
    margin-top: 10px;
    // background-color: #97a5eb;
    // Categories Orders
    &_orders ,
     &_customers,
      &_inventorys,
      &_conversations,
      &_settings{
        display: flex;
        padding-left:25px;
        margin-inline-start: 10px;

        &_image{

            width: 50px;
            height: 60px;
            // background-color: aqua;
            align-items: center;
    
        }
        &_image>img{
    
            align-self: auto;
            width: 50%;
            height: 50%;
            color: $icons-color;
            padding-left: 10px;
    
        }
        &_title>h2{
            color:gray;
            font-size: 20px;
            margin-top: 6px;
        }
    }
    // Categories Customers
        
 }

 .contact {
    margin-top: 300px;
    background-color: $icons-support-color;
    border-radius: 10px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    // padding-left: 20px;
    

    &_image{

        width: 50px;
        height: 50px;
        margin-top: 10px;

    }
    &_image>img{

        align-self: auto;
        width:50%;
        height: 50%;
        color: $icons-color;
        padding-left: 30px;

    }
    &_title>h2{
        color:gray;
        font-size: 20px;
        margin-top: 6px;
        
    }
    
 }

 .gifts {
    width: 50%;
    height: 80%;
    background-color: $icons-gift-color;
    display: flex;

    &_image{

        width: 50px;
        height: 50px;
        margin-top: 10px;

    }
    &_image>img{

        align-self: auto;
        width: 50%;
        height: 60%;
        color: $icons-color;
        padding-left: 15px;

    }

    &_title>h2{
        color:gray;
        font-size: 20px;
        margin-top: 6px;
    }

 }

//  Header Section

.main_header{
    
    display: flex;
    height: 12vh;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: white ;   
    

    &_title{
        padding-left: 10px;
        font-size: 12px;
    }
    &_title>span{
        color: $primary-color;
        
    }

    &_profile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 20px;

        &_text {
            background-color: $icons-support-color;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            width: 150px;
            height: 40px;
            justify-content: space-around;
            align-items: center;
            margin-inline-end: 10px;
        }
    }
    &_profile>span{
        padding-right: 10px;
        color: $primary-color;

    }
    &_image{
        width: 40px;
        height: 20px;
    }
    &_image>img{
        object-fit: cover;
    }

}




.main_body_content_upper,
.main_body_content_middle{
    display: grid;
    grid-template-columns: 3fr 3fr 4fr ;
    grid-gap: 10px;
    margin-bottom: 20px;

    &_left,
    &_middle,
    &_right{
        // margin-left: 10px;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        width: 100%;
        // height: 16vh;
        justify-content: space-between;
        background-color: #f4f5fa;
        border-radius: 10px;
        
        &_top{
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            padding-left: 10px;

            &_icon {
                background-color: $icons-support-color;
                // background-color: black;
                width: 30px;
                height: 26px;
                padding-left: 10px;
                border-radius: 10px;
                align-items: center;
                justify-content: center;
            }
            &_icon>img{
                object-fit: cover;
                text-align: center;
                align-items: center;
            }
         
            &_text{
                border-radius: 10px;
                display: flex;
                flex-direction: row;
                width: 100px;
                color: gray;
                justify-content: space-around;
                align-items: center;
                padding-right: 20px;
            }
            &_info{
                display: flex;
                justify-content: space-between;
           
                
            }
            &_info_acquisition>span,
            &_info_purchase>span,
            &_info_retention>span{
                border-radius: 10px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin-right: 10px;
                margin-inline-end: 10px;
                margin-top: -5px;

            }&_chart{
                display: flex;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
                margin-top: -12rem;
                
                &_info {
                    background:conic-gradient(#5570f1,#ffcc91,#97a5eb);
                    align-items: center;
                    border-radius: 50%;
                    width: 300px;
                    height: 300px;
                    border: 5px , linear-gradient #5570f1;
                    
                }
            }

        }
        &_bottom{

            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            padding-left: 10px;

            &_sales, p{
                color: gray;
                font-size: 12px;
            }

            &_valumes,h2 {
                color:$text-color;
                padding-right: 45px;
                
    
            }
            &_valumes_title ,h2 >span{
                color: green;
                font-size: 10px ;
            }
        }
        &_products{
            
            padding-top: 10px;
            color: white; 
            // height: 35vh;
            
            &_top {
                padding-top: 10px;
                background-color: $primary-color;
                border-radius: 10px;
                &_bottom, .all-products{
                    margin-top: 80px;
                    color: white; 
                }
                &_bottom, .figures {
                    color: white    ;
                }
                &_bottom, .figures> span {
                    color: white;
                }


            }
            &_bottom{
                margin-top: 20px;
                background-color: white;
                border-radius: 10px;
                
                &_bottom_info , .title{
                    color: red;
                }
                &_bottom_info, .heading{
                    color: black;
                }

            }
        }
        &_orders {
            background-color: #f4f5fa;
            border-radius: 10px;
            .complete{
                color: green;
            }
            .pending{
                color: red;
            }
        }

            
    }
    &_middle_top_icon ,
    &_right_top_icon{
        background-color:$icons-background-color;
    }

    
}
.main_body_content_middle{

}


.main_body_content_bottom {
    background-color: white;
    display: grid;
    grid-template-columns: 3fr;
    width: 60%;
  
  
}

// .main_body_content_middle{
//     display: grid;
//     grid-template-columns: 3fr 3fr 4fr;
//     grid-gap: 10px;
//     background-color: white;
// }